page-home {
    ion-content{background-image: url('../../assets/imgs/gc.jpg');
        background-image: no-repeat;
background-image: fixed;
background-image: center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
       }
              
}

